# Ignore .pyc and .pyo files
*.pyc
*.pyo

# Ignore .DS_Store files (MacOS specific)
.DS_Store

# Ignore virtual environments
venv/
env/
.env

# Ignore .vscode folder
.vscode/

# Ignore egg-info folder
cohereflow.egg-info/

# Ignore dist folder
dist/